<h1 id="battle-heading">Battle page</h1>
<h2> <%= gameStatus %> </h2>
<div>
    <p id = p1-display-name>Player 1: <%= p1Name %></p> 
    <p id = p1-hp><%= `Player 1 hp: ${p1hp}` %></p>
</div>
<br> 
<div>
     <p id = p2-display-name><%= `Player 2: ${p2Name}` %></p>
     <p id = p2-hp><%= `Player 2 hp: ${p2hp}` %></p>
</div>
<div>

<form action="/battle-attack" method="post">  
    <input type="submit" id ="attack-button" name="attack" value="attack!">
</form> 

<form action="/battle-volley" method="post">
    <input type="submit" id = "volley-button" value="volley">
</form>

<p id= turn-tracker> <%= turnName %> you must click attack now </p>
</div>


<ul  id= attack-log>
    <% attackLog.forEach(function(item,index){ %>
        <li> <%= item %> </li>
    <% }) %>
</ul>
